[class*="col-"] { position: relative; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 15px; }

.col-xl-1, .col-lg-1, .col-md-1, .col-sm-1, .col-xs-1 { width: 8.33%; -ms-flex-preferred-size: 8.33%; flex-basis: 8.33%; }

.col-xl-2, .col-lg-2, .col-md-2, .col-sm-2, .col-xs-2 { width: 16.66%; -ms-flex-preferred-size: 16.66%; flex-basis: 16.66%; }

.col-xl-3, .col-lg-3, .col-md-3, .col-sm-3, .col-xs-3 { width: 25%; -ms-flex-preferred-size: 25%; flex-basis: 25%; }

.col-xl-4, .col-lg-4, .col-md-4, .col-sm-4, .col-xs-4 { width: 33.33%; -ms-flex-preferred-size: 33.33%; flex-basis: 33.33%; }

.col-xl-5, .col-lg-5, .col-md-5, .col-sm-5, .col-xs-5 { width: 41.66%; -ms-flex-preferred-size: 41.66%; flex-basis: 41.66%; }

.col-xl-6, .col-lg-6, .col-md-6, .col-sm-6, .col-xs-6 { width: 50%; -ms-flex-preferred-size: 50%; flex-basis: 50%; }

.col-xl-7, .col-lg-7, .col-md-7, .col-sm-7, .col-xs-7 { width: 58.33%; -ms-flex-preferred-size: 58.33%; flex-basis: 58.33%; }

.col-xl-8, .col-lg-8, .col-md-8, .col-sm-8, .col-xs-8 { width: 66.66%; -ms-flex-preferred-size: 66.66%; flex-basis: 66.66%; }

.col-xl-9, .col-lg-9, .col-md-9, .col-sm-9, .col-xs-9 { width: 75%; -ms-flex-preferred-size: 75%; flex-basis: 75%; }

.col-xl-10, .col-lg-10, .col-md-10, .col-sm-10, .col-xs-10 { width: 83.33%; -ms-flex-preferred-size: 83.33%; flex-basis: 83.33%; }

.col-xl-11, .col-lg-11, .col-md-11, .col-sm-11, .col-xs-11 { width: 91.66%; -ms-flex-preferred-size: 91.66%; flex-basis: 91.66%; }

.col-xl-12, .col-lg-12, .col-md-12, .col-sm-12, .col-xs-12 { width: 100%; -ms-flex-preferred-size: 100%; flex-basis: 100%; }
