.suspension-contain {
  max-height: 980px;
  overflow: hidden;
  position: relative;
  z-index: 999999; }

html.suspended {
  background: rgba(0, 0, 0, 0.6); }

body {
  max-width: 100%;
  min-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-family: "Montserrat", sans-serif; }

.row {
  max-width: 1470px;
  margin: 0 auto; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

/*typography*/
.text-primary {
  color: #B11414; }

.text-bold {
  font-weight: 700; }

.text-uppercase {
  text-transform: uppercase; }

.text-center {
  text-align: center !important; }

.text-left {
  text-align: left; }

/*button*/
.btn {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 15px;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #FFFFFF;
  text-align: center;
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  max-width: 150px;
  margin: 0 auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .btn span.text {
    position: relative;
    z-index: 2; }
  .btn span.background {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #2a3239;
    -webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    -o-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1; }
  .btn:hover {
    color: #d1d4d7; }
    .btn:hover span.background {
      width: 225%;
      height: 562.5px; }
  .btn:active {
    background-color: #46535f; }
  .btn-primary {
    background: #04396C;
    border-radius: 50px;
    border: 1px solid transparent; }

/*clearings*/
.clear {
  clear: both; }

.clearfix {
  display: block; }
  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0; }

/*cookie*/
.cc-animate.cc-revoke.cc-bottom {
  font-size: 14px;
  padding: 5px 10px;
  position: fixed;
  display: block !important;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
  bottom: 0 !important;
  left: 20px !important; }

/*call to action*/
.destroy-on-load, .cta {
  display: none; }

/*contact form messages*/
form .messages p {
  display: none;
  font-family: Arial !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  font-size: 16px !important; }

form .loading {
  display: none; }

form .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px; }

form .alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6; }

form .alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1; }

form [type="submit"] {
  margin: 20px auto; }

/*contact form*/
.ctc-form {
  margin: 0 auto;
  text-align: center; }
  .ctc-form input[type="text"] {
    font-family: Arial;
    font-size: 16px;
    color: #000;
    height: 45px;
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto 8px; }
  .ctc-form textarea {
    font-family: Arial;
    font-size: 16px;
    color: #000;
    height: 45px;
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto 8px;
    height: 120px;
    padding-top: 10px; }
  .ctc-form button {
    display: block; }
  .ctc-form .recap {
    display: inline-block; }
  .ctc-form .g-recaptcha div {
    margin: 0 auto 10px; }
  .ctc-form .ctc-hide {
    display: none; }

/*gallery*/
#content .gallery-container {
  text-align: center; }

#content .gallery {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  #content .gallery li {
    display: inline-block; }

#content .thumbnail {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;
  line-height: .42857;
  margin-bottom: 20px;
  padding: 4px;
  -webkit-transition: border 0.5s ease-in-out 0s;
  -o-transition: border 0.5s ease-in-out 0s;
  transition: border 0.5s ease-in-out 0s; }
  #content .thumbnail:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02); }

#content .page_navigation {
  display: inline-block; }

#content .page_link, #content .previous_link, #content .next_link, #content .first_link, #content .last_link, #content .ellipse {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #0275d8;
  display: inline-block;
  line-height: 1.25;
  margin-left: -1px;
  padding: 0.5rem 0.75rem;
  position: relative; }

#content .page_navigation > a:hover {
  background-color: #eceeef;
  border-color: #ddd;
  color: #014c8c;
  text-decoration: none; }

.page_navigation > a.active_page {
  background-color: #eceeef;
  border-color: #ddd;
  color: #014c8c;
  text-decoration: none; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 auto; }

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 100px;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #000000; }

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 90px;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #04396C; }

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 30px;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #04396C; }

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 25px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 120%;
  color: #000000; }

h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 120%;
  color: #000000; }

h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 120%;
  color: #000000; }

p,
ul,
ol {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 15px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 120%;
  color: #000000; }

/*-----------------------------------------------------------------
Header-------------------------------------------------------------
-----------------------------------------------------------------*/
.header {
  background: #04396C;
  padding: 40px 0; }
  .header nav a#pull {
    display: none; }
  .header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header nav ul li {
      display: inline-block; }
      .header nav ul li a {
        display: block;
        padding: 10px 10px;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 16px;
        font-style: normal;
        letter-spacing: normal;
        line-height: 120%;
        color: #FFFFFF; }
      .header nav ul li.active-menu a,
      .header nav ul li a:hover {
        background: #3691BE; }

/*banner*/
.banner {
  background: #3691BE;
  padding: 40px 0; }

/*-----------------------------------------------------------------
Main---------------------------------------------------------------
-----------------------------------------------------------------*/
.main {
  background: #95ccff;
  padding: 40px 0; }

/*footer*/
.footer {
  padding: 40px 0;
  background-color: #04396C; }
  .footer .silver img {
    display: inline-block;
    vertical-align: middle;
    max-width: 50px; }

/*inner pages*/
.inner #content {
  min-height: 400px;
  padding: 40px 0; }
  .inner #content .row {
    max-width: 1200px;
    margin: 0 auto; }

.inner #content h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 60px;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #04396C; }

.inner #content h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 50px;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #000000; }

/*Sticky*/
/*privacy policy*/
.inPrivacyBox {
  max-width: 850px;
  margin: 0 auto; }
  .inPrivacyBox p {
    text-align: justify !important; }

/** Responsive
-------------------------------------------------------*/
