// row and body
$width: 1200px;
$max-width: (1440px + 30px);
$min-width: 320px;
// COLOR
$primary-color: #04396C;
$secondary-color: #3691BE;
$third-color: #95ccff;
$forth-color: #04396C;
$black: #000000;
$white: #FFFFFF;
// font
$font1: 'Montserrat',
sans-serif;
$font2: Arial,
Helvetica,
sans-serif;
$h1-font: 'Montserrat',
sans-serif;
$h2-font: 'Montserrat',
sans-serif;
$p-font: Arial,
Helvetica,
sans-serif;
$btn-font: Arial,
Helvetica,
sans-serif;