/*-----------------------------------------------------------------
Header-------------------------------------------------------------
-----------------------------------------------------------------*/

.header {
    background: $primary-color;
    padding: 40px 0;
    nav {
        a#pull {
            display: none;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            @include flex(row, wrap, space-around, center);
            li {
                display: inline-block;
                a {
                    display: block;
                    padding: 10px 10px;
                    @include font($font1, 400, 16px, normal, normal, 120%, $white);
                }
                &.active-menu a,
                a:hover {
                    background: $secondary-color;
                }
            }
        }
    }
}