/*-----------------------------------------------------------------
Main---------------------------------------------------------------
-----------------------------------------------------------------*/

.main {
    background: $third-color;
    padding: 40px 0;
}