a {
    color: inherit;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 auto;
}

h1 {
    @include font($h1-font, 400, 100px, normal, normal, normal, $black);
}

h2 {
    @include font($h2-font, 400, 90px, normal, normal, normal, $primary-color);
}

h3 {
    @include font($font1, 600, 30px, normal, normal, normal, $primary-color);
}

h4 {
    @include font($font1, 800, 25px, normal, normal, 120%, $black);
}

h5 {
    @include font($font1, 700, 20px, normal, normal, 120%, $black);
}

h6 {
    @include font($font1, 700, 15px, normal, normal, 120%, $black);
}

p,
ul,
ol {
    @include font($p-font, 700, 15px, normal, normal, 120%, $black);
}