@font-face {
    font-family: "socialico";
    src: url("Socialico/Socialico.eot");
    src: url("Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("Socialico/Socialico.woff2") format("woff2"), url("Socialico/Socialico.woff") format("woff"), url("Socialico/Socialico.ttf") format("truetype"), url("Socialico/Socialico.svg#lobster_1.4regular") format("svg");
}
